<div class="favorPop sysPop del">
    <div class="popTab">
        <span class="tabTitle">{{ui.modalTitle}}</span> <i class="iconfont pull-right icon-2"
                                                           ng-click="ui.cancel()" ng-mouseleave="isCheck()"
                                                           ng-mouseenter="notCheck()"></i>
    </div>
    <div class="content">
        <div class="massage">
            确定要删除吗？
        </div>
    </div>
    <a class="query-button dialog-modal" type="submit" ng-click="ui.submit()">确定</a>
</div>