<i ng-click="warpCallback('itemClicked', item, $event);" class="{{getItemIcon(item)}}"></i>
<i class="iconfont " style="color:#4ABD4E" ng-show="!isLeaf(item)"
   ng-class="{'icon-2':(item.$isIcon==1 ||item.$isIcon== undefined),'icon-1':(item.$isIcon ==2),'icon-3':(item.$isIcon ==3)}"
   ng-click="changeItemIcon(item)"></i>
<span class='text-field' ng-click="warpCallback('itemClicked', item, $event);">{{item[textField] | hsFormatDict:1507}}</span>
<ul ng-if="isLeaf(item)" ng-show="item.$isExpend">
    <li  ng-repeat="item in item.children" ng-include="itemTemplateUrl || 'template/roleItem.html'"></li>
</ul>