<select name="province" id="province" class="form-control input-sm " required="required"
        ng-model="bll.acctOpen.what.params.address1"
        ng-focus="true" required>
    <option value="">--请选择--</option>
</select>
<select name="city" id="city" class="form-control input-sm " required="required"
        ng-model="bll.acctOpen.what.params.address2"
        ng-focus="true" required>
    <option value="">--请选择--</option>
</select>
<select name="county" id="county" class="form-control input-sm" required="required"
        ng-model="bll.acctOpen.what.params.address3"
        ng-focus="true" required>
    <option value="">--请选择--</option>
</select>