<div class="common-module-container page-self-media-management view-review">
    <div class="tab-content">
        <div class="content-head">
            <h2 class="content-title">观点审核</h2>
            <div class="page-btn-group review-btn">
                <input id="auditStart" type="checkbox"/>
                <label class="operBtn public-flag-label review-label" button-rights="232">开启审核</label>
            </div>
            <!--添加搜索框-->
            <div class="search-button review-button">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="" autofocus>
                                 <span class="input-group-btn">
                                     <button class="btn btn-default btn-search btn-touch" type="button" onclick="searchForList(1)" button-rights="239" data-toggle="modal" data-target="#searchResult">
                                         <i class="iconfont" >&#xe615;</i>
                                     </button>
                                 </span>
                </div>
            </div>

        </div>
        <div class="content-wrap">
            <div class="comment-list-content">
                <div class="list-head">
                    <span class="list-item review-title">标题</span>
                    <span class="list-item review-source">来源</span>
                    <span class="list-item review-time">时间</span>
                    <span class="list-item review-review">操作</span>
                </div>
                <div class="list-content viewpoint-list">
                    <ul>
                        <li class="js-selected">
                            <span class="list-item viewpoint-title">恒生银行冯孝忠：特朗普当选美联储12月将不会加息</span>
                            <span class="list-item viewpoint-source">向小田</span>
                            <span class="list-item viewpoint-time">2016-11-11 15:30:24</span>
                            <span class="list-item viewpoint-review"><i class="iconfont icon icon-review icon-gray" title="取消公开" ></i></span>
                            <span class="arr"></span>
                        </li>
                        <li>
                            <span class="list-item viewpoint-title">恒生银行冯孝忠：特朗普当选美联储12月将不会加息</span>
                            <span class="list-item viewpoint-source">向小田</span>
                            <span class="list-item viewpoint-time">2016-11-11 15:30:24</span>
                            <span class="list-item viewpoint-review"><i class="iconfont icon icon-review icon-pink" title="通过审核" ></i></span>
                            <span class="arr"></span>
                        </li>
                        <li>
                            <span class="list-item viewpoint-title">恒生银行冯孝忠：特朗普当选美联储12月将不会加息</span>
                            <span class="list-item viewpoint-source">向小田</span>
                            <span class="list-item viewpoint-time">2016-11-11 15:30:24</span>
                            <span class="list-item viewpoint-review"><i class="iconfont icon icon-review icon-gray" title="取消公开" ></i></span>
                            <span class="arr"></span>
                        </li>
                        <li>
                            <span class="list-item viewpoint-title">恒生银行冯孝忠：特朗普当选美联储12月将不会加息</span>
                            <span class="list-item viewpoint-source">向小田</span>
                            <span class="list-item viewpoint-time">2016-11-11 15:30:24</span>
                            <span class="list-item viewpoint-review"><i class="iconfont icon icon-review icon-pink" title="通过审核" ></i></span>
                            <span class="arr"></span>
                        </li>
                        <li>
                            <span class="list-item viewpoint-title">恒生银行冯孝忠：特朗普当选美联储12月将不会加息</span>
                            <span class="list-item viewpoint-source">向小田</span>
                            <span class="list-item viewpoint-time">2016-11-11 15:30:24</span>
                            <span class="list-item viewpoint-review"><i class="iconfont icon icon-review icon-gray" title="取消公开" ></i></span>
                            <span class="arr"></span>
                        </li>
                        <li>
                            <span class="list-item viewpoint-title">恒生银行冯孝忠：特朗普当选美联储12月将不会加息</span>
                            <span class="list-item viewpoint-source">向小田</span>
                            <span class="list-item viewpoint-time">2016-11-11 15:30:24</span>
                            <span class="list-item viewpoint-review"><i class="iconfont icon icon-review icon-pink" title="通过审核" ></i></span>
                            <span class="arr"></span>
                        </li>
                        <li>
                            <span class="list-item viewpoint-title">恒生银行冯孝忠：特朗普当选美联储12月将不会加息</span>
                            <span class="list-item viewpoint-source">向小田</span>
                            <span class="list-item viewpoint-time">2016-11-11 15:30:24</span>
                            <span class="list-item viewpoint-review"><i class="iconfont icon icon-review icon-gray" title="取消公开" ></i></span>
                            <span class="arr"></span>
                        </li>
                        <li>
                            <span class="list-item viewpoint-title">恒生银行冯孝忠：特朗普当选美联储12月将不会加息</span>
                            <span class="list-item viewpoint-source">向小田</span>
                            <span class="list-item viewpoint-time">2016-11-11 15:30:24</span>
                            <span class="list-item viewpoint-review"><i class="iconfont icon icon-review icon-pink" title="通过审核" ></i></span>
                            <span class="arr"></span>
                        </li>
                        <li>
                            <span class="list-item viewpoint-title">恒生银行冯孝忠：特朗普当选美联储12月将不会加息</span>
                            <span class="list-item viewpoint-source">向小田</span>
                            <span class="list-item viewpoint-time">2016-11-11 15:30:24</span>
                            <span class="list-item viewpoint-review"><i class="iconfont icon icon-review icon-gray" title="取消公开" ></i></span>
                            <span class="arr"></span>
                        </li>
                        <li>
                            <span class="list-item viewpoint-title">恒生银行冯孝忠：特朗普当选美联储12月将不会加息</span>
                            <span class="list-item viewpoint-source">向小田</span>
                            <span class="list-item viewpoint-time">2016-11-11 15:30:24</span>
                            <span class="list-item viewpoint-review"><i class="iconfont icon icon-review icon-pink" title="通过审核" ></i></span>
                            <span class="arr"></span>
                        </li>
                    </ul>
                </div>
                <!--<div class="page-num">
                    <div id="viewpointList" class="m-pagination"></div>
                    <div id="eventLog2"></div>
                </div>-->
                <div id="pageChangeviewpoint" class="m-pagination ui-page"></div>
            </div>
            <div class="comment-info-content">
                <div class="gray-bar"></div>
                <div class="table-content viewpoint-content">
                    <div class="viewpoint-content-head">
                        <h2 class="viewpoint-title news-title">恒生银行冯孝忠：特朗普当选美联储12月将不会加息</h2>
                        <p class="publish-info"><span class="publish-time">2016-11-11 15:30:24</span><span class="publish-source">证劵时报网</span></p>
                    </div>
                    <div class="viewpoint-content-box">
                        <p>恒生银行(00011.HK)执行董事冯孝忠9日表示，如果民主党的希拉里胜出美国总统大选，则美联储在下个月加息可以说是毫无悬念。反之，一旦特朗普当选，预期环球金融市场会遭受比英国脱欧公投更剧烈的震荡，包括爆发股灾，例如道琼斯工业指数一日内或下跌500点，这将令美联储在12月份不会加息。</p>
                        <p>恒生银行(00011.HK)执行董事冯孝忠9日表示，如果民主党的希拉里胜出美国总统大选，则美联储在下个月加息可以说是毫无悬念。反之，一旦特朗普当选，预期环球金融市场会遭受比英国脱欧公投更剧烈的震荡，包括爆发股灾，例如道琼斯工业指数一日内或下跌500点，这将令美联储在12月份不会加息。</p>
                        <p>恒生银行(00011.HK)执行董事冯孝忠9日表示，如果民主党的希拉里胜出美国总统大选，则美联储在下个月加息可以说是毫无悬念。反之，一旦特朗普当选，预期环球金融市场会遭受比英国脱欧公投更剧烈的震荡，包括爆发股灾，例如道琼斯工业指数一日内或下跌500点，这将令美联储在12月份不会加息。</p>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>